/* styles */

a {
  color: #3b5998;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-default {
  background-color: black;
  border-color: darkred;
}



.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

html,body {
  height:100vh;
}

.page {
  min-height: 50vh;
  margin-top: 5%;
}

.homepage {
  min-height: 60vh;
  margin-top: 5%;
}

.profilepage {
  min-height: 60vh;
  margin-top: 5%;
}

.site-footer {
  background-image: linear-gradient(180deg, black, darkred);
  padding: 20px 0;
  color: white; 
  height: 30vh;
}

.madeby {
  font-size: 0.25rem;
  height: fit-content;
  width: auto;
}

.btn-youtube {
  background-color: white;
}

#bottom{
  position: absolute;
  bottom: 0px;
  left: 75%;
}

.profiletext {
  margin-left: 4%;
}

.metta-data {
  font-size: 0.25rem;
}